html { background:#306EFF;}

body {
	margin:0px;
	padding:0px;
	font-family:monospace;
}

#wraper {
	background:#00FF00;
	padding:10px;
	margin:50px auto;
	width:480px;
	border-radius:15px;
	box-shadow:0 0 0.8em rgba(1,1,1,1);
}

#header {
	color:#FFFF00;
	background:#306EFF;
	padding:8px;
	font-size:25px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	margin:0px 0 10px 0;
	border-radius:15px;
	letter-spacing:15px;
	box-shadow:0 0 0.2em rgba(0,0,0,0.8);
}

#content table {
	width:100%;
	border:5px solid #306EFF;
	border-radius:15px;
	box-shadow:0 0 0.3em rgba(0,0,0,0.8);
	padding:7px;
}

td {
	font-size:15px;
	padding:7px;
}

tr {
	text-align:left;
}

#footer {
	background:#000;
	color:#00FF00;
	text-align:center;
	margin:7px 0 0px 0;
	padding:3px;
	border-radius:15px;
	font-size:16px;
	box-shadow:0 0 0.3em rgba(0,0,0,0.5);
}

input[type="submit"], [type="button"] {
	font-size:16px;
	color:#FFF;
	background:#306EFF;
	border-radius:10px;
	box-shadow:0 0 0.2em rgba(0,0,0,0.9);
	margin-top:5px;
}

input[type="text"] {
	font-size:17px;
	text-indent:5px;
}

